In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
data_folder = Path.cwd() / 'data' / 'FLY'
meta_folder = data_folder / 'meta'

In [14]:
df_celltypes = pd.read_csv(meta_folder / 'consolidated_cell_types.csv', usecols=["root_id", "primary_type"])
df_celltypes

                   root_id primary_type
0       720575940596125868          T5c
1       720575940597856265         Tm16
2       720575940597944841          Tm7
3       720575940598267657        TmY15
4       720575940599333574          Tm1
...                    ...          ...
137675  720575940661335681       CB0180
137676  720575940661336193         TmY3
137677  720575940661337217       KCab-p
137678  720575940661338497       CB0904
137679  720575940661339777         R1-6

[137680 rows x 2 columns]

In [11]:
df_celltypes['primary_type_id'] = pd.factorize(df_celltypes['primary_type'])[0]
df_celltypes.to_csv(meta_folder / 'cell_types.csv', index=False)
df_celltypes

                   root_id primary_type  primary_type_id
0       720575940596125868          T5c                0
1       720575940597856265         Tm16                1
2       720575940597944841          Tm7                2
3       720575940598267657        TmY15                3
4       720575940599333574          Tm1                4
...                    ...          ...              ...
137675  720575940661335681       CB0180             2659
137676  720575940661336193         TmY3               23
137677  720575940661337217       KCab-p              101
137678  720575940661338497       CB0904             8287
137679  720575940661339777         R1-6                8

[137680 rows x 3 columns]